
@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(jsonStrFromIndex:String)
@import play.api.libs.json.Json
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Play") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    @*
    @play20.welcome(message, style = "Scala")
    *@


    <div clsee="row">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <a href="#popup1" class="popup_btn">ツール説明</a>
            <div id="popup1" class="popup">
                <div class="popup_inner">
                    <h4>ツール説明</h4>
                    <p>下のエディタにプログラムを書き、上のボタンを押すことで可視化実行ができます。</p>
                    <p>(マウスカーソルを重ねるとで各ボタンの説明が表示されます。)</p>
                    <p>実験前にデフォルトで表示されているプログラムをステップ実行して、</p>
                    <p>どう可視化されるか確認してみてください。</p>
                    <p>十分に確認できたらページ下部のボタンでトップページに戻れます。</p>
                    <p>実験1,2,3,4を順に実施してください。</p>
                    <p>もしExecution exceptionと書いてある真っ赤な画面になったらごめんなさい。</p>
                    <p>ツールのバグです。ブラウザの戻るボタンを押してください。</p>

                    <div>
                        <a href="#close_btn" class="close_btn">閉じる</a>
                    </div>
                </div>
            </div>
            <div id="overlay"></div>
        <div class="btn-group">
            <div class="btn-group">
                <button title="エディタのフォントサイズ変更" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i> <span class="caret"></span></button>
                <ul class="dropdown-menu" id="font-size">
                    <li><a href="#" data-size="10">小さい</a></li>
                    <li><a href="#" data-size="12">普通</a></li>
                    <li><a href="#" data-size="14">大きい</a></li>
                </ul>
            </div>
            @*<button id="bold" class="btn btn-default"><i class="glyphicon glyphicon-bold"></i></button>*@
            @*<button id="save" class="btn btn-default"><i class="glyphicon glyphicon-floppy-save"></i></button>*@
            @*<button id="load" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i></button>*@
            <button id="debug" title="可視化デバッグ実行開始(最初に1回必ず押す)" class="btn btn-default"><i class="glyphicon glyphicon-play"></i></button>@*コンパイル済みならデバッグ開始*@
            <button id="stop" title="可視化デバッグ終了" class="btn btn-default"><i class="glyphicon glyphicon-stop"></i></button>@*デバッグ中なら停止*@
            <button id="reset" title="実行中のプログラムを最初に戻す" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i></button>@*コンパイル済みならデバッグ開始*@
            <button id="back" title="前の式に戻る" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i></button>@*デバッグ開始済みなら1ステップ戻る*@
            <button id="step" title="次の式を実行する(次に実行する式をハイライト)" class="btn btn-default"><i class="glyphicon glyphicon-arrow-right"></i></button>@*デバッグ開始済みなら1ステップ進む*@
            <button id="exec" title="実行中のプログラムを最後まで実行する" class="btn btn-default"><i class="glyphicon glyphicon-forward"></i></button> @*コンパイル済みなら実行*@

        </div>

            <div id="debugStatus">DebugStatus:</div><br>
            <button id="exstart">実験開始</button>
            <button id="exans">答えを確認</button>
            <br>
            <div id="description"></div>
            <div id="editorMain" style="height: 80%"></div>
            <br>
            <div id="output" style="height: 22%"></div>
            <div role="tablist" aria-multiselectable="true" class="panel-group" id="accordion-1">
                <div class="panel panel-default">
                    <div role="tab" class="panel-heading">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion-1" aria-expanded="true" href="#accordion-1 .item-1">File Upload </a></h4></div>
                    <div role="tabpanel" class="panel-collapse collapse in item-1">
                        <div class="panel-body">
                            <ul id="filelist">
                                <li>アップロードされたファイルはここにファイルパスが表示されます。</li>
                            </ul>
                            @helper.form(action = routes.VisualizerController.upload, 'enctype -> "multipart/form-data", 'id -> "my-form") {
                                <input type="file" name="files">
                                <button type="button" onclick="file_upload()">アップロード</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="canvasContainer" class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
            <canvas id="display" style="width: 100%;height: 95vh; border: 1px black solid"></canvas>
        </div>

        @*<div class="col-lg-12 col-md-12">*@
        @*処理の流れ<br>*@
        @*実行ボタン：JavaScriptでイベント取得。エディタ上のテキストを取得。Fromの形でPOST(JavaScript)<br>*@
        @*コントローラはポストされたデータを取得。アクション関数で文字列の処理など。(Scala,String)ビューにセット。<br>*@
        @*ビュー：生文字を取得(改行文字に注意)。JavaScriptでコメント文字など操作してセット。<br>*@
        @*</div>*@
    </div>
    <script src="@routes.Assets.versioned("javascripts/stopWatch.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/visualizer.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/visualizerExperiment.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/visualizerEditor.js")" type="text/javascript"></script>
    <script>
        function jsonStrFormat(jsonStr){
            return jsonStr.replace(/\\n/g, "\\n")
                    .replace(/\\'/g, "\\'")
                    .replace(/\\"/g, '\\"')
                    .replace(/\\&/g, "\\&")
                    .replace(/\\r/g, "\\r")
                    .replace(/\\t/g, "\\t")
                    .replace(/\\b/g, "\\b")
                    .replace(/\\f/g, "\\f");
        }
        var jsonFromIndexStr = @Html(Json.stringify(Json.toJson(jsonStrFromIndex)));
        var fomattedJsonFromIndexStr = jsonStrFormat(jsonFromIndexStr);
        var jsonFromIndex = JSON.parse(fomattedJsonFromIndexStr);
        if('pageTitle' in jsonFromIndex)
        {
            setEditorAndExperiment(jsonFromIndex.pageTitle);
        }

        if('filenames' in jsonFromIndex)
        {
            ResetAllFileList(jsonFromIndex.filenames);
        }



            // Loadingイメージ表示関数
            function dispLoading(msg){
                // 画面表示メッセージ
                var dispMsg = "";

                // 引数が空の場合は画像のみ
                if( msg != "" ){
                    dispMsg = "<div class='loadingMsg'>" + msg + "</div>";
                }
                // ローディング画像が表示されていない場合のみ表示
                if($("#loading").size() == 0){
                    $("body").append("<div id='loading'>" + dispMsg + "</div>");
                }
            }

            // Loadingイメージ削除関数
            function removeLoading(){
                $("#loading").remove();
            }

            var text = localStorage.sourcefile;

            var editor = createEditor('editorMain',true,text);

            if(localStorage.currentex == "ex1" || localStorage.currentex == "ex2" || localStorage.currentex == "ex3" || localStorage.currentex == "ex4") {
                editor.setReadOnly(true);
            }

            var consolEditor = createConsoleEditor("output", "");

            function deleteFile(filename){
                var url = "/delete/" + filename;
                $.ajax({
                    url:url,
                    type:'GET',
                    dataType:'json',
                    contentType:'text/json',
                    success: function(data) {
                        ResetAllFileList(data.filenames)
                    },
                    error: function(data) {
                        alert("Fail to delete");
                    },
                    complete : function(data) {
                        // Loadingイメージを消す
                        removeLoading();
                    }
                });
            }

            function ResetAllFileList(filelist){　　　　//全て削除して再セット
                var parElm = document.getElementById('filelist');
                var list = parElm.getElementsByTagName('li');
                for(var i =list.length-1;i>=0; --i){　　//末尾から順にすべて削除
                    parElm.removeChild(list[i]);
                }

                for (var i = 0; i < filelist.length; ++i){
                    var filename = filelist[i];
                    var item = document.createElement("li");//li要素を作成

                        var buttunElement = document.createElement("button");
                        buttunElement.style.cssText = "text-align : right";
                        buttunElement.className = "btn btn-default glyphicon glyphicon-trash";
                        buttunElement.onclick = (function wrap(filename_) {
                            return function() { deleteFile(filename_); }
                        })(filename);

                    item.appendChild(buttunElement);

                        var whiteSpaceElement = document.createElement("span");
                        whiteSpaceElement.innerHTML = "　";

                    item.appendChild(whiteSpaceElement);

                        var aTagElement = document.createElement("a");
                        aTagElement.href = "/download/" + filename;
                        aTagElement.appendChild(document.createTextNode(filename));

                    item.appendChild(aTagElement);

                    parElm.appendChild(item);//sample_container要素に追加
                }
            }

            function file_upload(){
                // フォームデータを取得
                var form = $('#my-form');
                var formdata = new FormData(form[0]);
                dispLoading("送信中...");
                // POSTでアップロード
                $.ajax({
                    url  : "/upload",
                    type : "POST",
                    data : formdata,
                    cache       : false,
                    contentType : false,
                    processData : false,
                    dataType    : "html",
                    success: function(data) {
                        var jsondata = JSON.parse(data);
                        ResetAllFileList(jsondata.filenames)
                        //alert(jsondata.filenames);
                    },
                    error: function(data) {
                        alert("invalid data");
                    },
                    complete : function(data) {
                        // Loadingイメージを消す
                        removeLoading();
                    }
                });
            }
    </script>

}